---

---

<!doctype html>
<html style="background: #0a0a0a;">
	<head>
		<meta charset="utf-8" />
		<script is:inline>
			const userLang = navigator.language || navigator.userLanguage;
			const isSpanish = userLang.toLowerCase().startsWith("es");
			window.location.replace(isSpanish ? "/es/" : "/en/");
		</script>
	</head>
	<body style="background: #0a0a0a;"> </body>
</html>
