---

---

<!doctype html>
<html style="background:#0a0a0a;height:100%">
	<head>
		<meta charset="utf-8" />
		<style>
			body {
				background: #0a0a0a;
				margin: 0;
				padding: 0;
				height: 100%;
			}
		</style>
		<script>
			const l = navigator.language;
			location.replace(
				l.toLowerCase().startsWith("es") ? "/es/" : "/en/",
			);
		</script>
	</head>
	<body></body>
</html>
