---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import ContactForm from "../../components/ContactForm.astro";

export function getStaticPaths() {
    return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}
---

<Layout>
    <Navbar />
    <main style="padding-top: 100px;">
        <ContactForm />
    </main>
</Layout>
